/* COMMUN À TOUS */
body {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px;
  grid-template-areas:
    "one1 one1 one1 one1 one1"
    "2marge1 one2 one2 one2 2marge2"
    "3marge1 one3 one3 one3 3marge2"
    "4marge1 one4 one4 one4 4marge2";
}
/* NAVIGATION */
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-start: one1;
  grid-column-end: three1;
  height: 100px;
  left: 0;
  right: 0;
  margin-left: 120px;
  margin-right: 120px;
  z-index: 100;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.nav-icon {
  width: 45px;
  height: 45px;
  background-color: var(--black);
  border-radius: 30px;
}

nav h1 {
  font-family: "logo";
  font-size: 2rem;
  color: var(--black);
}

nav h2 {
  font-family: "favorit";
  font-weight: 400;
  color: var(--black);
}

/* SECTION 1 */

.edithp {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  grid-template-rows: 200px auto auto;
  grid-gap: 20px;
}

#teaser {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--black);
  height: 700px;
}

#go-edit {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* SECTION 2 */
